:root {
  --name:#ff0000;
  --zwoelf:36;
}
/* 1in = 2.54cm = 25.4mm = 72pt = 6pc  12pt: 30Zeilen=127mm*/

@media all {                                /* echo "<div class=\"page-break\"></div>\n"; */
        .page-break     { display: none; }
}

@media print {
        .page-break     { display: block; page-break-before: always; }
}

#dina {
  margin  : 25mm 25mm 25mm 25mm;
  padding : 0mm 0mm 0mm 2mm;
    width:80mm;
    height:80mm;
    background: #777;
}

#dinavier {                      /* top right bottom left*/
  border: solid green 2pt;
  margin  : 0mm 0mm 0mm 0mm;
  padding : 1mm 1mm 1mm 1mm;
    width:210mm;
    height:297mm;
    background: #999;
}

#brieftexteingabe {
  border: solid black 2pt;
}

#parent {
  display: flex;
}

#kind-1 {
  border: solid black 2pt;
  flex: 1;
}

#kind-2 {
  border: solid black 2pt;
  flex: 1;
}

#kegel-1 {
  border: solid blue 1pt;
  flex: 1;
}

#kegel-2 {
  border: solid red 1pt;
  flex: 1;
}

.ohne-gitter {
  border-spacing:0;
  padding:0
}

.briefkopf {
  border: solid green 13pt;
  width : 205mm;
}

.kopf-links {
  margin  : 20mm 20mm 20mm 0mm;
  padding  : 0mm 0mm 0mm 0mm;
  background: #f8eeff;
  font-size: 30pt;
  font-family: Helvetica, Arial, Sans-Serif;
}

.kopf-rechts {
  /*
  float  : right;
  margin  : 0mm 0mm 0mm 20mm;
  width  : 75mm;
  height : 45mm;
  background: #fcf;
  font-size: 12pt;
  */
}

.absenderblock {
  margin  : 0mm 0mm 0mm 25mm;
  width  : 85mm;
  height :  5mm;
  background: #fef;
  font-size: 9pt; /* var(--zwoelf); */
  font-family: Helvetica, Arial, Sans-Serif;
}

.anschriftblock {
  margin  : 0mm 0mm 0mm 25mm;
  width  : 85mm;
  height : 40mm;
  background: #eef;
  font-size: 13pt;
}

.infolabel {
  font-size: 6pt;
}

.infoinhalt {
  height :  13pt;
  font-size: 12pt;
}

.informationsblock {
  margin  : -40mm 0mm 0mm 125mm;
  width  : 75mm;
  height : 45mm;
  background: #fef;
  font-size: 12pt;
}

.betreffworte {
  padding  : 0mm 0mm 12pt 0mm;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 10pt;
  font-weight: bold;
}

.anredeworte {
  padding  : 0mm 0mm 12pt 0mm;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 10pt;
}

.inhaltsworte {
  padding  : 0mm 0mm 12pt 0mm;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 10pt;
}

.gruszworte {
  padding  : 0mm 0mm 36pt 80mm;
  border: solid black 0pt;
  font-size: 10pt;
}

.unterschrift {
  border: solid black 0pt;
  padding  : 0mm 0mm 12pt 80mm;
  font-size: 12pt;
}

.betreffblock {
  margin  : 12pt 0mm 0mm 25mm;
  width  : 165mm;
  height :  24pt;
  background: #efe;
  font-size: 12pt;
  font-weight: bold;
}

.bezugsblock {
  margin  : 0mm 0mm 0mm 25mm;
  width  : 175mm;
  height :  8mm;
  background: #efe;
  font-size: 12pt;
  font-weight: bold;
}

.textblock {
  margin  : 0mm 0mm 0mm 25mm;
  width  : 165mm;
  height :  185mm;
  background: #eee;
}

.fuszblock {
  margin  : 0mm 0mm 20mm 25mm;
  width  : 165mm;
  height : 27mm;
  background: #eef;
  text-align : center; 
  font-size: 12pt;
}

#re {
  border: solid black 1mm;
  margin  : 10mm 10mm 10mm 10mm;
  padding : 10mm 10mm 10mm 10mm;
    width:20mm;
    height:20mm;
}

#rectangle {
  border: solid black 1mm;
  margin  : 25mm 25mm 25mm 25mm;
  padding : 0mm 0mm 0mm 2mm;
    width:80mm;
    height:80mm;
    background: #777;
}

#box {
  border: solid black 1mm;
  padding : 5mm 25mm 25mm 2mm; /* top right bottom left*/
    width:40mm;
    height:30mm;
    background: #fef;
}
/**/

