#dina {
  margin  : 25mm 25mm 25mm 25mm;
  padding : 0mm 0mm 0mm 2mm;
    width:80mm;
    height:80mm;
    background: #777;
}

#dinavier {                      /* top right bottom left*/
  margin  : 0mm 0mm 0mm 0mm;
  padding : 1mm 1mm 1mm 1mm;
    width:210mm;
    height:297mm;
    background: #999;
}

.briefkopf {
  width : 210mm;
  height : 27mm;
  background: #eef;
}

.absenderzeile {
  margin  : 0mm 0mm 0mm 25mm;
  width  : 85mm;
  height :  5mm;
  background: #fef;
}

.anschriftenfeld {
  margin  : 0mm 0mm 0mm 25mm;
  width  : 85mm;
  height : 40mm;
  background: #eef;
}

.informationsblock {
  margin  : -40mm 0mm 0mm 125mm;
  width  : 75mm;
  height : 45mm;
  background: #fef;
}

.betreff {
  margin  : 0mm 0mm 0mm 25mm;
  width  : 175mm;
  height :  8mm;
  background: #efe;
}

.textfeld {
  margin  : 0mm 0mm 0mm 25mm;
  width  : 165mm;
  height :  185mm;
  background: #eee;
}

.brieffusz {
  margin  : 0mm 0mm 20mm 25mm;
  width  : 165mm;
  height : 27mm;
  background: #eef;
}

#rectangle {
  margin  : 25mm 25mm 25mm 25mm;
  padding : 0mm 0mm 0mm 2mm;
    width:80mm;
    height:80mm;
    background: #777;
}

#box {
  padding : 5mm 25mm 25mm 2mm; /* top right bottom left*/
    width:40mm;
    height:30mm;
    background: #fef;
}

