/* Nutze mit <input class="button" type="button" value="klicken"> */

/* <a href="https://css-tricks.com/examples/ButtonMaker/#" target="_blank">https://css-tricks.com/examples/ButtonMaker/#</a> */

@media all {                                /* echo "<div class=\"page-break\"></div>\n"; */
        .page-break     { display: none; }
}

@media print {
        .page-break     { display: block; page-break-before: always; }
}

#parent {
  display: flex;
}

td {
  text-align: right;
}

.sonntag {
  background: #ffdddd;
}

.ist_gfos {
  background: #ffeeee;
  text-align: right;
  margin-right: 1em;
}

.ist_echt {
  background: #eeeeff;
  text-align: right;
  margin-right: 1em;
}

.saldo_kum {
  background-color:#ddffdd;
  text-align: right;
  margin-right: 1em;
}

.wochensummen {
  background: #fffff0;
}

.salden {
  background: #fff0ff;
}

.auszahlung {
  background: #f0ffff;
}

.insert {
  background: #fff0f0;
}

.update {
  background: #f0fff0;
}

.right {
  text-align: right;
  margin-right: 1em;
}

.links {
  text-align: left;
}

.backbt {
  margin-left:36px;
  text-decoration:none;
  background-color:#454545;
  font-size:14px;
  line-height:14px;
  text-align:center;
  color:#fff;
  border-radius:110px;
  -webkit-border-radius:10px;
  padding:4px 22px
}
.backbt:hover {
  color:#fff;
  border-bottom:3px #e74c3c solid;
  height:25px;
  background:#292929
}
.nextbt {
  margin-left:36px;
  text-decoration:none;
  background-color:#454545;
  font-size:14px;
  line-height:14px;
  text-align:center;
  color:#fff;
  border-radius:110px;
  -webkit-border-radius:10px;
  padding:4px 22px
}
.nextbt:hover {
  color:#fff;
  border-bottom:3px #e74c3c solid;
  height:25px;
  background:#292929
}
.nextactive {
  color:#fff;
  border-bottom:3px #e74c3c solid;
  height:25px;
  background:#292929
}
.nextbt {
  text-decoration:none;
  background-color:#454545;
  font-size:14px;
  line-height:14px;
  text-align:center;
  color:#fff;
  border-radius:110px;
  -webkit-border-radius:10px;
  padding:4px 22px
}
.nextbt:visited {
  color:#fff;
  border-bottom:3px #e74c3c solid;
  height:25px;
  background:#292929
}
.nextdiv {
  width:200px;
  height:35px;
  float:left
}


.button-rufe {
  width : 11em;
   border-top: 1px solid #96d1f8;
   background: #b3de3e;
   background: -webkit-gradient(linear, left top, left bottom, from(#3f964f), to(#b3de3e));
   background: -webkit-linear-gradient(top, #3f964f, #b3de3e);
   background: -moz-linear-gradient(top, #3f964f, #b3de3e);
   background: -ms-linear-gradient(top, #3f964f, #b3de3e);
   background: -o-linear-gradient(top, #3f964f, #b3de3e);
   padding: 11.5px 23px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: black;
   font-size: 19px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.button-rufe:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button-rufe:active {
   border-top-color: #1b435e;
   background: #1b435e;
   color: #fff;
}

.button-b:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button-b:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.button-e {
   border-top: 1px solid #f7e297;
   background: #3ee0d3;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c50), to(#3ee0d3));
   background: -webkit-linear-gradient(top, #3e9c50, #3ee0d3);
   background: -moz-linear-gradient(top, #3e9c50, #3ee0d3);
   background: -ms-linear-gradient(top, #3e9c50, #3ee0d3);
   background: -o-linear-gradient(top, #3e9c50, #3ee0d3);
   padding: 11.5px 23px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 19px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.button-e:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button-e:active {
   border-top-color: #1b435e;
   background: #1b435e;
}


.button-a {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 11.5px 23px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.button-a:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button-a:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.button-b {
   border-top: 1px solid #96d1f8;
   background: #b3de3e;
   background: -webkit-gradient(linear, left top, left bottom, from(#3f964f), to(#b3de3e));
   background: -webkit-linear-gradient(top, #3f964f, #b3de3e);
   background: -moz-linear-gradient(top, #3f964f, #b3de3e);
   background: -ms-linear-gradient(top, #3f964f, #b3de3e);
   background: -o-linear-gradient(top, #3f964f, #b3de3e);
   padding: 11.5px 23px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: black;
   font-size: 19px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.button-b:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button-b:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.button-c {
   border-top: 1px solid #96d1f8;
   background: #b3de3e;
   background: -webkit-gradient(linear, left top, left bottom, from(#943e5e), to(#b3de3e));
   background: -webkit-linear-gradient(top, #943e5e, #b3de3e);
   background: -moz-linear-gradient(top, #943e5e, #b3de3e);
   background: -ms-linear-gradient(top, #943e5e, #b3de3e);
   background: -o-linear-gradient(top, #943e5e, #b3de3e);
   padding: 11.5px 23px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: black;
   font-size: 19px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.button-c:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button-c:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.button-d {
   border-top: 1px solid #96d1f8;
   background: #86de3e;
   background: -webkit-gradient(linear, left top, left bottom, from(#945f3e), to(#86de3e));
   background: -webkit-linear-gradient(top, #945f3e, #86de3e);
   background: -moz-linear-gradient(top, #945f3e, #86de3e);
   background: -ms-linear-gradient(top, #945f3e, #86de3e);
   background: -o-linear-gradient(top, #945f3e, #86de3e);
   padding: 11.5px 23px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.button-d:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button-d:active {
   border-top-color: #1b435e;
   background: #1b435e;
}


